*{
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 255, 0.386);
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 249, 224);
    padding: 0;

}

header img{
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 2px;

}

header div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.buscador{
    padding: 10px;
}

header nav ul{
    background-color: rgb(86, 102, 150);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul li{
    list-style-type: none;
    color: aliceblue;
    font-weight: bold;
}

header nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
}

.seleccionado a{
    background-color: rgb(51, 61, 91);
}

.categorias{
    width: 25%;
    margin-right: 20px;
    
}

.categorias nav ul{
    background-color: rgb(86, 102, 150);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}

.categorias nav ul li{
    list-style-type: none;
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 10px;
}

.categorias nav ul li a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    
}

.mainlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/fondoplaya.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 145px;
}

.mainregister{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/fondorelphie.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 145px;
}

main .secciones{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgb(172, 141, 146);
}

.secciones h4{
    font-size: 30px;
    
}

main .secciones .masvendidos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
    background-color: rgb(172, 141, 146);
}

main .secciones .aleatorios{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
    background-color: rgb(141, 172, 151);
}


.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.poloproducts{
    margin: 10px;
    padding: 15px;
    border: 2px solid darkblue;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    background-color: rgba(242, 253, 254, 0.928);
    border-radius: 10px;
}

.poloproducts img{
    width: 85%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 8px;
}

.caja–login{
    background-color: rgba(246, 246, 5, 0.996);
    padding: 30px;
    height: 400px;
    border-radius: 30px;}

.poloproducts h2{
    font-size: 16px;
    margin: 5px 0;
}

.poloproducts p{
    margin: 3px 0;
}

.poloproducts a{
    text-decoration: none;
}

.cajalogin{
    background-color: rgba(233, 233, 232, 0.704);
    padding: 50px;
    border-radius: 25px;
    width: 450px;
    text-align: center;
}

.cajaregister{
    background-color: rgba(233, 233, 232, 0.704);
    padding: 50px;
    border-radius: 25px;
    width: 450px;
    text-align: center;
}

.formulario{
    text-align: left;
}

.formulario div{
    margin-bottom: 10px;
}

.terms{
    display: flex;
    align-items: center;
}

.logintitulo{
    color: rgb(71, 53, 0);
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.datos{
    margin-bottom: 15px;
    text-align: left;
}

label{
    display: block;
    font-weight: bold;
    color: rgb(81, 59, 0);
    margin-bottom: 5px;
}

.check{
    padding: 8px;
    border: 1px solid rgb(69, 47, 0);
    border-radius: 50px;
}

.solicitudform{
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(10, 2, 33);
    border-radius: 5px;
}

.botonregister{
    display: flex;
    justify-content: space-around;
}

.botonregister button{
    background-color: rgb(93, 62, 0);
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.botoningresar{
    display: flex;
    justify-content: space-around;
}

.botoningresar button{
    background-color: rgb(93, 62, 0);
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 760px){
    .headerALT{
        flex-wrap: wrap;
    }
    .header img{
        width: 120px;
        height: 35px;
        margin-bottom: 10px;
    }
    .buscador{
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .boton-ingresar{
        padding: 10px 12px;
        display: inline-block;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .poloproducts{
        flex: 0 0 48%;
        max-width: 48%;
        width: auto;
        height: auto;
        margin: 8px 1%;
    }
    .masvendidos{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .aleatorios{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .masvendidos .items, .aleatorios .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

footer{
    background-color: rgb(80, 46, 16);
    height: 100px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    
}
.women{
    background-color: rgb(172, 141, 146);
}
